<% secret %>

<div class="secret-item">
  <div class="header">
    <div class="title"><%= secret.title %></div>
    <% if secret.consumed_at.blank? %>
      <div class="viewed-status">Not Viewed</div>
    <% end %>
  </div>
  <div class="body">
    <div class="emails">
      <span class="mail-icon glyphicon glyphicon-lg glyphicon-envelope" aria-hidden="true"></span>
      <div class="email-group">
        <div class="from">From: <%= secret.from_email %></div>
        <div class="to">To: <%= secret.to_email %></div>
      </div>
    </div>
    <div class="metadata">
      <div class="sent">Sent: <%= dashboard_time_display(secret.created_at) %></div>
      <div class="viewed"><%= viewed_status(secret) %></div>
    </div>
    <div class="actions">
      <div class="notes-trigger">See Notes</div>
    </div>
  </div>
  <div class='notes'><%= secret.comments %></div>
</div>
