<% secret %>

<div class="secret-item">
  <div class="header">
    <div class="title"><%= secret.title %></div>
  </div>
  <div class="body">
    <div class="icon" />
    <div class="emails">
      <div class="from">From: <%= secret.from_email %></div>
      <div class="to">To: <%= secret.to_email %></div>
    </div>
    <div class="metadata">
      <div class="sent">Sent: <%= dashboard_time_display(secret.created_at) %></div>
      <div class="viewed"><%= viewed_status(secret) %></div>
    </div>
  </div>
</div>
