<% secret %>

<article id="<%= secret.id %>" class="panel secret-item">

  <header class="panel__header mail-icon<%= secret.consumed_at? ? ' light-green' : '' %>">
    <% if secret.consumed_at? %>
      <%= image_tag 'icons/unlocked-icon.svg', alt: 'Unlocked email', width: 62 %>
    <% else %>
      <%= image_tag 'icons/locked-icon.svg', alt: 'Locked Mail', width: 62  %>
    <% end %>

    <div>
      <h3 class="panel__title"><%= secret.title %></h3>
      <% if secret.consumed_at.blank? %>
        <p class="viewed-status">Not Viewed</p>
      <% else %>
        <p class="viewed-status">Viewed</p>
      <% end %>
    </div>
  </header>
  <div class="panel__body">
    <div class="emails">
      <div class="email-group">
        <% if secret.no_email? %>
          <div>This secret was sent manually</div>
          <em>(no email sent)</em>
        <% else %>
          <div class="from">From: <%= secret.from_email %></div>
          <div class="to">To: <%= secret.to_email %></div>
        <% end %>
      </div>
    </div>
    <div class="metadata">
      <div class="sent">
        <% if secret.no_email? %>
          Created: <%= local_time(secret.created_at, t('date.formats.dashboard_time'))  %>
        <% else %>
          Sent: <%= local_time(secret.sent_at, t('date.formats.dashboard_time'))  %>
        <% end %>
      </div>
      <div class="viewed">
        <% if secret.consumed_at? %>
          <div>Viewed: <%= local_time(secret.consumed_at, t('date.formats.dashboard_time')) %></div>
        <% elsif secret.expired? %>
          <div><strong>not viewed</strong>, expired: <%= local_time(secret.expire_at, t('date.formats.dashboard_time')) %></div>
        <% else %>
          <div><strong>not viewed</strong>, expiry: <%= local_time(secret.expire_at, t('date.formats.dashboard_time')) %></div>
        <% end %>
      </div>
    </div>
    <div class="notes-trigger">See Notes</div>
    <div class='notes'><%= secret.comments %></div>
  </div>

  <footer class="panel__footer">
    <% if secret.consumed_at? %>
      <div class="extend-label viewed">Viewed and Deleted</div>
    <% elsif secret.expired? && !secret.extended?%>
      <%= link_to "Extend", extended_secret_path(secret), class: 'button blue', method: :put %>
    <% elsif secret.extended? %>
      <div class="extend-label extended">Extended</div>
    <% end %>
      <%= link_to "Send Another", new_secret_path(base_id: secret.uuid), class: 'button green' %>
  </footer>
</article>
