<% secret %>
<% viewed_class = secret.consumed_at? ? "viewed" : "not-viewed" %>
<% expired_class = secret.expired? ? "expired" : "" %>

<div class="secret-item <%= [viewed_class, expired_class].join(' ') %>" >
  <div class="header">
    <div class="title"><%= secret.title %></div>
    <% if secret.consumed_at.blank? %>
      <div class="viewed-status">Not Viewed</div>
    <% end %>
  </div>
  <div class="body">
    <div class="emails">
      <% if secret.consumed_at? %>
        <%= image_tag 'unlocked-icon.svg', class: 'mail-icon'  %>
      <% else %>
        <%= image_tag 'locked-icon.svg', class: 'mail-icon'  %>
      <% end %>
      <div class="email-group">
        <div class="from">From: <%= secret.from_email %></div>
        <div class="to">To: <%= secret.to_email %></div>
      </div>
    </div>
    <div class="metadata">
      <div class="sent">Sent: <%= local_time(secret.sent_at, dashboard_time_format)  %></div>
      <div class="viewed">
        <% if secret.consumed_at? %>
          <div>Viewed: <%= local_time(secret.consumed_at, dashboard_time_format) %></div>
        <% else %>
          <div><strong>not viewed</strong>, expiry: <%= local_time(secret.expire_at, dashboard_time_format) %></div>
        <% end %>
      </div>
    </div>
    <div class="actions">
      <% if secret.consumed_at? %>
        <div class="extend-btn viewed">Viewed and Deleted</div>
      <% else %>
        <%= link_to "Extend", extend_secret_path(secret), class: 'extend-btn' %>
      <% end %>
      <div class="grouped-actions">
        <div class="notes-trigger">See Notes</div>
        <div> | </div>
        <div class="send-another">
          <%= link_to "Send Another", new_secret_path(base_id: secret.uuid) %>
        </div>
      </div>
    </div>
  </div>
  <div class='notes'><%= secret.comments %></div>
</div>
