<% secret %>

<article id="<%= secret.id %>" class="panel secret-item">

  <header class="panel__header mail-icon<%= secret.consumed_at? ? ' light-green' : '' %>">
    <% if secret.consumed_at? %>
      <%= image_tag 'icons/unlocked-icon.svg', alt: 'Unlocked email', width: 62 %>
    <% else %>
      <%= image_tag 'icons/locked-icon.svg', alt: 'Locked Mail', width: 62  %>
    <% end %>

    <div>
      <h3 class="panel__title"><%= secret.title %></h3>
      <% if secret.consumed_at.blank? %>
        <p class="viewed-status">Not Viewed</p>
      <% else %>
        <p class="viewed-status">Viewed</p>
      <% end %>
    </div>
  </header>

  <div class="panel__body">
    <% if secret.no_email? %>
      <p>
        This secret was sent manually
        <em>(no email sent)</em>
      </p>
    <% else %>
      <p class="from"><strong>From:</strong> <%= secret.from_email %></p>
      <p class="to"><strong>To:</strong> <%= secret.to_email %></p>
    <% end %>


    <p class="sent">
      <% if secret.no_email? %>
        <strong>Created:</strong> <%= local_time(secret.created_at, t('date.formats.dashboard_time'))  %>
      <% else %>
        <strong>Sent:</strong> <%= local_time(secret.sent_at, t('date.formats.dashboard_time'))  %>
      <% end %>
    </p>

    <p class="viewed">
      <% if secret.consumed_at? %>
        <strong>Viewed:</strong> <%= local_time(secret.consumed_at, t('date.formats.dashboard_time')) %>
      <% elsif secret.expired? %>
        <strong>Not viewed:</strong> expired: <%= local_time(secret.expire_at, t('date.formats.dashboard_time')) %>
      <% else %>
        <strong>Not viewed:</strong> expiry: <%= local_time(secret.expire_at, t('date.formats.dashboard_time')) %>
      <% end %>
    </p>

    <button class="notes-trigger button">See Notes</button>
    <p class='notes'><%= secret.comments %></p>
  </div>

  <footer class="panel__footer">
    <% if secret.consumed_at? %>
      <div class="extend-label viewed">Viewed and Deleted</div>
    <% elsif secret.expired? && !secret.extended?%>
      <%= link_to "Extend", extended_secret_path(secret), class: 'extend-btn button blue', method: :put %>
    <% elsif secret.extended? %>
      <div class="extend-label extended">Extended</div>
    <% end %>
      <%= link_to "Send Another", new_secret_path(base_id: secret.uuid), class: 'button green' %>
  </footer>
</article>
