<section class="banner">
  <h1 class="heading">My Account</h1>
</section>

<section class="devise_page">
  <article class="panel">
    <header class="panel__header">
      <h2 class="panel__title">Resend confirmation instructions</h2>
    </header>
    <div class="panel__body">
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "devise_page__form" }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <%= f.input :email, required: true, autofocus: true %>

        <div class="form-actions">
          <%= f.button :submit, "Resend", class: "button green" %>
        </div>
      <% end %>
    </div>
  </article>

  <div class="devise_page__links">
    <%= render "devise/shared/links" %>
  </div>
</section>
