<section class="banner">
  <h1 class="heading">My Account</h1>
</section>

<section class="devise_page">
  <article class="devise_page__panel">
    <header class="devise_page__header">
      <h2 class="devise_page__title">Edit <%= resource_name.to_s.humanize %></h2>
    </header>
    <div class="devise_page__body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "devise_page__form" }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "button green" %>
        </div>
      <% end %>
    </div>
  </article>

  <div class="devise_page__links">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button red" %></p>

    <%= link_to "Back", :back %>
  </div>
</section>
