<section class="banner">
  <h1 class="heading">My Account</h1>
</section>

<section class="devise_page">
  <article class="devise_page__panel">
    <header class="devise_page__header">
      <h2 class="devise_page__title">New User? Create an Account</h2>
    </header>
    <div class="devise_page__body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "devise_page__form"}) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true %>

        <div class="form-actions">
          <%= invisible_recaptcha_tags text: 'Register', class: 'button green' %>
        </div>
      <% end %>
    </div>
  </article>

  <div class="devise_page__links">
    <%= render "devise/shared/links" %>
  </div>
</section>
