<p class='heading'>
  Hello <%= @secret.to_email %>
</p>

<div class='content'>
  <p>
    <%= sanitize @editable_content %>
  </p>

  <div class='secret-info'>
    <div class='secret-info__heading'>Secret Details</div>
    <% if @secret.title.present? %>
      <div class='secret-info__detail'>
        <b>title:</b> <%= @secret.title %>
      </div>
    <% end %>
    <% if @secret.comments.present? %>
      <div class='secret-info__detail'>
        <b>comments:</b>
        <%= @secret.comments %>
      </div>
    <% end %>

    <% if @secret.expire_at.present? %>
      <div class='secret-info__detail'>
        <b>expiry:</b> <%= @secret.expire_at.strftime('%d %B %Y') %>
      </div>
    <% end %>

    <div class='secret-info__detail secret-info__detail--important'>
      <p>This link will show you the secret:</p>
      <p>
        <%= link_to(secret_url(@secret.uuid, key: @secret.secret_key), secret_url(@secret.uuid, key: @secret.secret_key)) %>
      </p>
    </div>
  </div>


  <p>
    It can only be viewed once and will then be removed from the database.
  </p>

  <% if @secret.expire_at.present? %>
  <p>
    It will also expire and be removed if not accessed before <%= @secret.expire_at.strftime('%d %B %Y') %>.
  </p>
  <% end %>

  <p>
    Thank you for using <%= link_to("SecretLink.org", "https://SecretLink.org") %>!
  </p>
</div>
