<p>
  Hello <%= @secret.to_email %>
</p>

<p>
  <%= @secret.from_email %> has shared a secret with you via <%= link_to("TopSekr.it", "https://TopSekr.it") %>.<br />
</p>

<% if @secret.title.present? %>
<p>
  <b>Title:</b> <%= @secret.title %>
</p>
<% end %>
<% if @secret.comments.present? %>
<p>
  <b>Comments:</b>
</p>
<pre>
<%= @secret.comments %>
</pre>
<% end %>

<p>This link will show you the secret:</p>

<p>
  <%= link_to(secret_url(@secret.uuid, key: @secret.secret_key), secret_url(@secret.uuid, key: @secret.secret_key)) %>
</p>

<p>
  It can only be viewed once and will then be removed from the database.
</p>

<% if @secret.expire_at.present? %>
<p>
  It will also expire and be removed if not accessed before <%= @secret.expire_at.strftime('%d %B %Y') %>.
</p>
<% end %>

<p>
  Thank you for using <%= link_to("TopSekr.it", "https://TopSekr.it") %>!
</p>

