<section class="banner">
  <h1 class="heading">My Account</h1>
</section>

<section class="devise_page">
  <article class="panel">
    <header class="panel__header">
      <h2 class="panel__title">Set your password</h2>
    </header>
    <div class="panel__body">

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "devise_page__form" }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>

        <div class="form-actions">
          <%= f.button :submit, "Set password", class: "button green" %>
        </div>
      <% end %>
    </div>
  </article>

  <div class="devise_page__links">
    <%= render "devise/shared/links" %>
  </div>
</section>
