<div class="devise-form">
  <h2 class="heading">Forgot your password?</h2>

  <div class="body">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions" %>
      </div>
    <% end %>
  </div>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
