<footer class="footer about">
  <div class="container-fluid footer-primary">
    <h2 id="about" class="text-center">About topsekr.it</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2">
        <p>
          TopSekr.it is available for anyone to use, it is a Ruby on Rails application created and built
          by <%= link_to('reinteractive', 'https://reinteractive.net') %> and hosted thorugh
          reinteractive's <%= link_to('OpsCare', 'https://reinteractive.net/service/ops-care/') %>
          service. It has been made open source to ensure transparency on the service and to
          encourage contribution to improve the security of the application.
        </p>
<!-- Need to get these written
        <p>
          It is free to use and is governed by our <%= link_to('Terms and Conditions', '#') %>.
        </p>
-->
        <p>
          If you do not want to (or can not) use our hosted version, you are welcome to run your
          own version for your own company or organisation, we only stipulate that you may not run
          it as a service for third parties in competition to https://topsekr.it/
        </p>
        <p>
          If you would like assistance getting TopSekr.it (or any other Rails application)
          setup, hosted and maintained on AWS, please consider
          <%= link_to('contacting us', 'https://reinteractive.net/enquiries/new?message=I%27d+like+to+get+some+more+information+about+reinteractive...') %>
          to get more information about our Ruby on Rails <%= link_to('OpsCare', 'https://reinteractive.net/service/ops-care/') %>
          and <%= link_to('CodeCare', 'https://reinteractive.net/service/code-care/') %> services.
        </p>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-2 center-block">
        <img src="../assets/reinteractive-logo-dark.png" class="img-responsive footer-logo" alt="reinteractive logo">
      </div>
    </div>
  </div>
  <div class="container-fluid footer-secondary">
    <ul class="footer-links list-unstyled text-center">
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="">TopSekr.it</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/#works">How it works</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/#faq">FAQ</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/#about">About TopSekr.it</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="#">Back to top</a></li>
    </ul>
  </div>
</footer>