<section class="banner">
  <h1>Account Settings</h1>
</section>

<section class="devise_page two-column">
  <article class="panel large">
    <header class="panel__header">
      <h2 class="panel__title">Email Template</h2>
    </header>
    <div class="panel__body">
      <%= simple_form_for(@settings, url: email_template_path, html: { class:"devise_page__form" }) do |f| %>
        <div class="form-group">
          <%= f.input :send_secret_email_template, label: false, as: :trix_editor %>
        </div>

        <div>
          <%= f.button :submit, value: t('buttons.update'), class: "button green" %>
        </div>
      <% end %>
    </div>
  </article>

  <div class="email-preview">
    <h3 class="email-preview__heading">Preview:</h3>
    <div class="email-preview__greeting">Hello recipient@secret_link.org</div>

    <div class="email-preview__body">
      <%= sanitize @settings.send_secret_email_template %>
    </div>
    <div class="email-preview__additional-content">(Secret contents will go below ...)</div>
  </div>

  <div class="devise_page__links">
    <%= render "shared/two_factor_links" %>
  </div>
</section>
