<section class="banner">
  <h1 class="heading">My Account</h1>
</section>

<section class="devise_page">
  <article class="panel">
    <header class="panel__header">
      <h2 class="panel__title">Returning User? Sign in</h2>
    </header>
    <div class="panel__body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "devise_page__form"}) do |f| %>
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :otp_attempt, required: false, label: "2FA<br>(for configured accounts)".html_safe %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <div class="form-actions">
          <%= f.button :submit, "Sign In", class: "button green" %>
        </div>
      <% end %>
    </div>
  </article>

  <div class="devise_page__links">
    <%= render "devise/shared/links" %>
  </div>
</section>
