<section class="banner">
  <h1 class="heading">My Account</h1>
</section>

<section class="devise_page">
  <article class="panel">
    <header class="panel__header">
      <h2 class="panel__title">Setup login credentials</h2>
    </header>
    <div class="panel__body">
      <%= simple_form_for(@tfa_service.user, url: user_setup_path(reset_password_token: @original_token), html: { method: :put, class: "devise_page__form" }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden, input_html: { value: @original_token }%>
        <%= f.full_error :reset_password_token %>

        <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>

        <%= render partial: 'shared/two_factor_fields', locals: {
          f: f,
          resource: @tfa_service.user,
          otp_provisioning_uri: @otp_provisioning_uri
        } %>

        <div class="form-actions">
          <%= f.button :submit, "Save", class: "button green" %>
        </div>
      <% end %>
    </div>
  </article>
</section>
