<tr id="secret-<%= secret.id %>">
  <td><%= secret.to_email %></td>
  <td><%= secret.title %></td>
  <td><%= secret.status %></td>
  <td><%= secret.expire_at.try(:strftime, '%d %B %Y') %></td>
  <td><%= secret.created_at.try(:strftime,'%d %B %Y') %></td>
</tr>