<div class="col-sm-12">
  <div class="text-center">
    <h2>Create a new secret to send</h2>
  </div>

  <div class='row'>
    <div class="col-md-6">
      <%= simple_form_for @secret, url: secret_url, wrapper: 'horizontal_form', html: {class: 'form-horizontal'} do |f| %>
        <div class='form-group'>
          <%= f.input :title, input_html: { class: 'form-control' } %>
          <%= f.input :from_email, label: "Sender:", input_html: { disabled: true, placeholder: session[:email], class: 'form-control' } %>
          <%= f.input :to_email, label: "Recipient:", input_html: { placeholder: to_email_placeholder(@secret, session[:email]), class: 'form-control' } %>
          <%= f.input :secret, as: :text, input_html: { class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= f.input :expire_at, as: :string, input_html: { value: 5.days.from_now.to_date.strftime('%d %B, %Y'), class: 'datepicker form-control' } %>
          <%= f.input :comments, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
           <%= f.button :submit, 'Send your Secret', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <ol id='instructions'>
        <li class='completed'>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Enter your email address and a link with a one-time authentication token will be sent to you.
        </li>
        <li class='completed'>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Follow the link to a page where you can view the status of previously shared secrets and share new secrets.
        </li>
        <li>Enter the recipients email address, and enter or attach the secret information.</li>
        <li>A link with a one-time authentication token is sent to the recipient's address.</li>
        <li>When the recipient views the information, it is deleted from the database.</li>
      </ol>
    </div>
  </div>
</div>
