<div class="container">
  <div class="container-secret-form">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Create a new secret to send</h2>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-7 secret-form">
        <%= simple_form_for @secret, url: secrets_url, wrapper: 'horizontal_form', html: {class: 'form-horizontal center-block'} do |f| %>
          <div class='form-group'>
            <%= f.input :title, input_html: { class: 'form-control' } %>
            <%= f.input :from_email, label: "Sender", input_html: { disabled: true, placeholder: session[:email], class: 'form-control' } %>
            <%= f.input :to_email, label: "Recipient", input_html: { placeholder: to_email_placeholder(@secret, session[:email]), class: 'form-control' } %>
            <%= f.input :secret, as: :text, input_html: { class: 'form-control' } %>
          </div>

    <!-- Hidden until the functionnality is actually implemented
           <div class='form-group'>
            <%= f.file_field :secret_file, input_html: { class: 'form-control' } %>
          </div>
     -->
          <div class='form-group'>
            <%= f.input :expire_at, as: :string, input_html: { value: 5.days.from_now.to_date.strftime('%d %B, %Y'), class: 'datepicker form-control' } %>
            <%= f.input :comments, input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group text-center">
            <div class="col-md-offset-3 col-md-9">
             <%= f.button :submit, 'Send your Secret', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="container-instructions center-block">
          <h3>Instructions</h3>
          <ol id='instructions'>
            <li class='completed'>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Enter your email address and a link with a one-time authentication token will be sent to you.
            </li>
            <li class='completed'>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Follow the link to a page where you can view the status of previously shared secrets and share new secrets.
            </li>
            <li>Enter the recipients email address, and enter or attach the secret information.</li>
            <li>A link with a one-time authentication token is sent to the recipient's address.</li>
            <li>When the recipient views the information, it is deleted from the database.</li>
          </ol>
        </div>

      </div>
    </div>
  </div>
</div>