<p>Hello <%= @secret.to_email %></p>

<p>Here is the secret shared with you by <%= @secret.from_email %>.</p>

<% if @secret.title.present? %>
  <p>
    <strong>Title:</strong>
    <%= @secret.title %>
  </p>
<% end %>
<% if @secret.comments.present? %>
  <p>
    <strong>Comments:</strong>
    <%= @secret.comments %>
  </p>
<% end %>

<p>
  <strong>Secret:</strong>
</p>
<p>
  <% if @unencrypted_secret || flash.now[:error] %>
<pre>
<%= @unencrypted_secret %>
</pre>
  <% elsif @secret.encrypted_secret.blank? %>
    Secret has already been displayed and deleted.
  <% else %>
    <%= form_tag '/decrypt_secret' do |f| %>
      <%= hidden_field_tag 'uuid', @secret.uuid %>
      <%= hidden_field_tag 'secret_key', params[:secret_key] %>
      <%= submit_tag 'Click here to show the secret', class: 'btn btn-primary btn-lg' %>
    <% end %>
  <% end %>
</p>
