<div class="container-secret">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Hello <%= @secret.to_email %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <p><strong><%= @secret.from_email %></strong> has shared a secret with you.</p>
      <p>It will be <strong>deleted</strong> from our system once you view it, so be sure to make a copy.</p>
    </div>
  </div>
  <hr class="half-rule">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 secret-details">
      <% if @secret.title.present? %>
        <span class="label-secret">Title</span>
        <p><%= @secret.title %></p>
      <% end %>
      <% if @secret.comments.present? %>
        <span class="label-secret">Comments</span>
        <p><%= @secret.comments %></p>
      <% end %>
      <span class="label-secret">Secret</span>
      <% if @unencrypted_secret || flash.now[:error] %>
        <pre><%= @unencrypted_secret %></pre>
      <% elsif @secret.encrypted_secret.blank? %>
        <pre>Secret has already been displayed and deleted.</pre>
      <% else %>
        <%= form_tag '/decrypt_secret' do |f| %>
          <%= hidden_field_tag 'uuid', @secret.uuid %>
          <%= hidden_field_tag 'secret_key', params[:secret_key] %>
          <%= submit_tag 'Show secret', class: 'btn btn-primary center-block' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

