<p>Hello <%= @secret.to_email %></p>

<p>Here is the secret shared with you by <%= @secret.from_email %>.</p>

<% if @secret.title.present? %>
  <p>
    <strong>Title:</strong>
    <%= @secret.title %>
  </p>
<% end %>
<% if @secret.comments.present? %>
  <p>
    <strong>Comments:</strong>
    <%= @secret.comments %>
  </p>
<% end %>

<p>
  <strong>Secret:</strong>
</p>
<p>
  <%= @unencrypted_secret %>
</p>