<div class="introduction">
  <div class="row introduction-lead">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="lead text-center">Share secrets such as passwords, API keys, and SSL certificates simply and securely.</p>
    </div>
  </div>
  <div class="row introduction-content">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-lock" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>Your <span class="secret">secret</span> is yours to keep and share</strong></p>
          <p>TopSekr.it uses state-of-the-art encryption to keep your data safe AND we don't store keys or unencrypted secrets in our database.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-time" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>It works fast and is conveniently forgetful</strong></p>
          <p>TopSekr.it doesn't store the encrypted data longer than absolutely necessary. As soon as your recipient reads the secret, even the encrypted data is permanently deleted from our servers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-ok" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>It's simple & efficient</strong></p>
          <p>All you need is a valid email. No new passwords to remember, no accounts to worry about.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="lead btn-lead-outline <%= 'hidden' if auth_new_page? %>">
            <a href="/auth/new" class="btn-lead" role="button">Share a secret now...</a>
          </p>
          <div class="auth-form <%= 'hidden' unless auth_new_page? %>">
            <h2>Share a secret now...</h2>
            <p>All we need is your email, and theirs to get started.</p>
            <%= simple_form_for :auth_token, url: auth_tokens_url, html: { class: 'form-horizontal col-md-6 col-md-offset-3' } do |f| %>
              <div class="form-group  text-center">
                <%= f.input :email, label: false, placeholder: 'Your email', input_html: { class: 'form-control center-block' } %>
                <%= f.input :recipient_email, label: false, placeholder: 'Recipient email (optional)', input_html: { class: 'form-control center-block' } %>
              </div>
              <div class="form-group center-block">
                <div class="col-sm-12">
                  <%= f.button :submit, 'Send TopSekr.it Token', class: 'btn btn-primary' %>
                  <p>
                    <small>Pressing send only sends an email to you</small>
                  </p>
                </div>
              </div>
              <hr class="half-rule">
              <div class="form-group center-block">
                <div class=" col-sm-12">
                  <button class="btn btn-google">
                    <%= link_to image_tag('btn_red.png', alt: 'g+'), '/auth/google_oauth2', id: 'oauth-google' %>
                    <span>Send using <strong>Google</strong></span>
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="instructions">
  <div class="container">
    <h2 id="how" class="text-center">How it works</h2>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container pull-left">
          <span class="step text-center">1</span>
          <h3>You enter your email</h3>
          <p>We'll never use this email for anything other than sending secrets requested by you.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">2</span>
          <h3>You receive link to create the secret</h3>
          <p>This confirms your email is who you say you are so you can then send secrets to other people.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">3</span>
          <h3>You add the secret sauce</h3>
          <p>You add the secret, ensure the recipient is correct, any comments and also set when your secret should expire.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">4</span>
          <h3>Your recipient receives a link</h3>
          <p>Once they view the secret, all sensitive data is deleted from our servers. We keep a log of senders-recipients but not the secrets themselves.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="other-details">
          <h3 class="text-center">And what goes on behind the scenes?</h3>
          <p class="text-center">
            Shhh!  It's a secret!
          </p>
          <p class="text-center">
            Your private data is encrypted with a salt and IV using the aes-256-cbc algorithm. Only the encrypted secret is stored
            and the key is emailed to your receipient within the link they need to click to read it. We don't store the key
            on our servers, so once sent, that's it, you, us, anyone except the person recieving the email can not decrypt
            the secret.
          </p>
          <p class="text-center">
            Also, if the secret isn’t read before the provided expiry time the encrypted version is also automatically deleted.
          </p>
          <p class="text-center">
            Nice and simple.  We like it that way :)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Why is this useful?</p>
          <p>
            Instead of secrets being sent by email, in support systems, via instant messaging services
            or the like, a unique link is sent instead, which only works once.
          </p>
          <p>
            This way, only an unusable link will remain protecting the secret from further prying eyes.
          </p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Why should we trust you?</p>
          <p>
            We built this service to solve our own problem of sharing secrets with customers. We know
            trust is a thing, so we <%= link_to("open sourced the whole project", "https://github.com/reinteractive/topsekrit") %> for any peer review.
          </p>
          <p>
            If you find something, please let us know or send a pull request and we'll get it fixed.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Are secrets stored?</p>
          <p>
            Yes, but encrypted with a one way cipher that we don't have the key for.
            The key is only sent to the receipient you specify.
          </p>
          <p>
            Once the secret is read by the recipient, we even delete the encrypted version
            from the database, just leaving the meta data behind so in future versions you
            can have a dashboard to see what you sent to whom (comming soon).
          </p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">How much does this cost?</p>
          <p>
            It's free for you to use to send secrets to whomever you want - we
            just ask that you don't do anything that could be against the law
            or harrass anyone with this service.
          </p>
          <p>
            We might introduce a paid version to allow other things (like history)
            or sending larger files and the like, but all of that is still being
            worked out, for now, enjoy :)
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Can we run our own copy?</p>
          <p>
            Of course, we just ask you don't compete with this service in doing so
            by only use it internally for your staff and clients.
          </p>
          <p>
            We trust you to do the right thing :)
          </p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Can you help us set this up?</p>
          <p>
            Sure, <%= link_to('contact us', 'https://reinteractive.net/enquiries/new?message=I%27d+like+to+get+some+more+information+to+setup+TopSekr.it...') %>
            to get more information about our Ruby on Rails <%= link_to('OpsCare', 'https://reinteractive.net/service/ops-care/') %>
            and <%= link_to('CodeCare', 'https://reinteractive.net/service/code-care/') %> services.
          </p>
          <p>
            We are experts at keeping critical Rails applications online.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <h2 id="about" class="text-center">About TopSekr.it</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2">
      <p>
        TopSekr.it is available for anyone to use, it is a Ruby on Rails application created and built
        by <%= link_to('reinteractive', 'https://reinteractive.net') %> and hosted thorugh
        reinteractive's <%= link_to('OpsCare', 'https://reinteractive.net/service/ops-care/') %>
        service. It has been made open source to ensure transparency on the service and to
        encourage contribution to improve the security of the application.
      </p>
      <p>
        It is free to use and is governed by our <%= link_to('Terms and Conditions', '/terms_and_conditions') %>.
      </p>
      <p>
        If you do not want to (or can not) use our hosted version, you are welcome to run your
        own version for your own company or organisation, we only stipulate that you may not run
        it as a service for third parties in competition to https://TopSekr.it/
      </p>
      <p>
        If you would like assistance getting TopSekr.it (or any other Rails application)
        setup, hosted and maintained on AWS, please consider
        <%= link_to('contacting us', 'https://reinteractive.net/enquiries/new?message=I%27d+like+to+get+some+more+information+about+reinteractive...') %>
        to get more information about our Ruby on Rails <%= link_to('OpsCare', 'https://reinteractive.net/service/ops-care/') %>
        and <%= link_to('CodeCare', 'https://reinteractive.net/service/code-care/') %> services.
      </p>
    </div>
    <div class="col-xs-8 col-sm-4 col-md-2 center-block">
      <%= image_tag('reinteractive-logo-dark.png', class: "img-responsive footer-logo", alt: "reinteractive logo") %>
    </div>
  </div>
</div>
