<div class="introduction">
  <div class="row introduction-lead">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="lead text-center">Share secrets such as passwords, api keys, and ssl certificates securely.</p>
    </div>
  </div>
  <div class="row introduction-content">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-lock" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>Your <span class="secret">secret</span> is yours to keep and share</strong></p>
          <p>topserk.it uses state-of-the-art encryption to keep your data safe.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-time" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>The messenger works fast and is conveniently forgetful</strong></p>
          <p>topserk.it doesn't store the encrypted data longer than absolutely necessary. As soon as your recipient reads it, it's permanently deleted from our servers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-ok" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>It's simple & efficient</strong></p>
          <p>All you need is a valid email. No new passwords to remember, no accounts to worry about.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <p class="lead btn-lead-outline">
            <span class="btn-lead">Share a Secret</span>
          </p>
          <div class="auth-form hidden">
            <%= simple_form_for :auth_token, url: auth_tokens_url, html: { class: 'form-inline' } do |f| %>
              <%= f.input :email, label: 'Your Email', wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } %>
              <%= f.input :recipient_email, label: 'Their Email', wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } %>
              <div class='form-group'>
                <%= f.submit 'Send', class: 'btn btn-primary' %>
                <%= link_to image_tag('g64.png', alt: 'g+'), '/auth/google_oauth2', id: 'oauth-google' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="instructions">
  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container pull-left">
          <span class="step text-center">1</span>
          <h3>You enter your email</h3>
          <p>We'll never use this email for anything other than sending secrets requested by you.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">2</span>
          <h3>You receive link to create the secret</h3>
          <p>Each new secret is created by accessing a one-use, unique URL only you can see.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">3</span>
          <h3>You add secret + recipient</h3>
          <p>You can set when you want your secret to expire and such as well.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">4</span>
          <h3>Your recipient receives a link to the secret</h3>
          <p>Once they view the secret, all sensitive data is deleted from our servers. We keep a log of senders-recipients but not the secrets themselves.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="other-details">
          <h3 class="text-center">And what goes on behind the scenes?</h3>
          <p class="text-center">The secret is encrypted with a salt and IV using the aes-256-cbc algorithm. If it isn’t accessed before the provided expiry time it is automatically deleted</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Question</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis ipsum quis, ratione eos deleniti amet esse incidunt sapiente, dignissimos numquam iusto libero neque repudiandae aliquid accusantium, similique labore doloremque.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Question</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis ipsum quis, ratione eos deleniti amet esse incidunt sapiente, dignissimos numquam iusto libero neque repudiandae aliquid accusantium, similique labore doloremque.</p>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Question</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis ipsum quis, ratione eos deleniti amet esse incidunt sapiente, dignissimos numquam iusto libero neque repudiandae aliquid accusantium, similique labore doloremque.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Question</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis ipsum quis, ratione eos deleniti amet esse incidunt sapiente, dignissimos numquam iusto libero neque repudiandae aliquid accusantium, similique labore doloremque.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Question</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis ipsum quis, ratione eos deleniti amet esse incidunt sapiente, dignissimos numquam iusto libero neque repudiandae aliquid accusantium, similique labore doloremque.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Question</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis ipsum quis, ratione eos deleniti amet esse incidunt sapiente, dignissimos numquam iusto libero neque repudiandae aliquid accusantium, similique labore doloremque.</p>
        </div>
      </div>
    </div>
  </div>
</div>