<div class="introduction">
  <div class="row introduction-lead">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="lead text-center">Share secrets such as passwords, API keys, and SSL certificates securely.</p>
    </div>
  </div>
  <div class="row introduction-content">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-lock" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>Your <span class="secret">secret</span> is yours to keep and share</strong></p>
          <p>TopSekr.it uses state-of-the-art encryption to keep your data safe.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-time" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>The messenger works fast and is conveniently forgetful</strong></p>
          <p>TopSekr.it doesn't store the encrypted data longer than absolutely necessary. As soon as your recipient reads it, it's permanently deleted from our servers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-1">
          <div class="glyphicon-lead-bg text-center">
            <span class="glyphicon glyphicon-lead glyphicon-ok" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0">
          <p class="lead"><strong>It's simple & efficient</strong></p>
          <p>All you need is a valid email. No new passwords to remember, no accounts to worry about.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="lead btn-lead-outline">
            <span class="btn-lead" role="button">Send a Secret</span>
          </p>
          <div class="auth-form hidden">
            <h2>Send a secret</h2>
            <%= simple_form_for :auth_token, url: auth_tokens_url, html: { class: 'form-horizontal col-md-6 col-md-offset-3' } do |f| %>
              <div class="form-group  text-center">
                <%= f.input :email, label: false, placeholder: 'Your email', input_html: { class: 'form-control center-block' } %>
                <%= f.input :recipient_email, label: false, placeholder: 'Recipient email', input_html: { class: 'form-control center-block' } %>
              </div>
              <div class="form-group center-block">
                <div class="col-sm-12">
                  <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
                </div>
              </div>
              <hr class="half-rule">
              <div class="form-group center-block">
                <div class=" col-sm-12">
                  <button class="btn btn-google">
                    <%= link_to image_tag('btn_red.png', alt: 'g+'), '/auth/google_oauth2', id: 'oauth-google' %>
                    <span>Send using <strong>Google</strong></span>
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="instructions">
  <div class="container">
    <h2 id="how" class="text-center">How it works</h2>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container pull-left">
          <span class="step text-center">1</span>
          <h3>You enter your email</h3>
          <p>We'll never use this email for anything other than sending secrets requested by you.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">2</span>
          <h3>You receive link to create the secret</h3>
          <p>Each new secret is created by accessing a one-use, unique URL only you can see.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">3</span>
          <h3>You add secret + recipient</h3>
          <p>You can set when you want your secret to expire and such as well.</p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
        <div class="instruction-container">
          <span class="step text-center">4</span>
          <h3>Your recipient receives a link to the secret</h3>
          <p>Once they view the secret, all sensitive data is deleted from our servers. We keep a log of senders-recipients but not the secrets themselves.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="other-details">
          <h3 class="text-center">And what goes on behind the scenes?</h3>
          <p class="text-center">The secret is encrypted with a salt and IV using the aes-256-cbc algorithm. If it isn’t accessed before the provided expiry time it is automatically deleted</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="faq" class="text-center">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Why is this useful?</p>
          <p>
            Instead of secrets being sent by email, in support systems, via instant messaging services
            or the like, a unique link is sent instead, which only works once.
          </p>
          <p>
            This way, only an unusable link will remain protecting the secret from further prying eyes.
          </p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Why should we trust you?</p>
          <p>
            We built this service to solve our own problem of sharing secrets with customers. We know
            trust is a thing, so we <%= link_to("open sourced the whole project", "https://github.com/reinteractive/topsekrit") %> for any peer review.
          </p>
          <p>
            If you find something, please let us know or send a pull request and we'll get it fixed.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Are secrets stored in the database?</p>
          <p>
            Yes, but only until the secret is consumed, then we only keep the meta data
            in the system for your reference.
          </p>
          <p>
            In future versions we will implement a simple dashboard allowing you to
            view the meta data of what was sent and when it was consumed.  But we'll
            never keep the original secret in the database. This is an important
            security feature.
          </p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">How much does this cost?</p>
          <p>
            It's free for you to use to send secrets to whomever you want - we
            just ask that you don't do anything that could be against the law
            or harrass anyone with this service.
          </p>
          <p>
            We might introduce a paid version to allow other things (like history)
            or sending larger files and the like, but all of that is still being
            worked out, for now, enjoy :)
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="container-faq">
          <p class="lead">Can we run TopSekr.it internally?</p>
          <p>
            Of course, we just ask you don't compete with this service in doing so
            by only use it internally for your staff and clients.
          </p>
          <p>
            We trust you to do the right thing :)
          </p>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
        <div class="container-faq">
          <p class="lead">Can you help us set this up?</p>
          <p>
            Sure, <%= link_to('contact us', 'https://reinteractive.net/enquiries/new?message=I%27d+like+to+get+some+more+information+to+setup+TopSekr.it...') %>
            to get more information about our Ruby on Rails <%= link_to('OpsCare', 'https://reinteractive.net/service/ops-care/') %>
            and <%= link_to('CodeCare', 'https://reinteractive.net/service/code-care/') %> services.
          </p>
          <p>
            We are experts at keeping critical Rails applications online.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>