<!DOCTYPE html>
<html>
<head>
  <title>Topsekrit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/header' %>
  <div class="container-fluid">
    <%= render partial: 'shared/flash_messages' %>
    <%= yield %>
  </div>
  <%= render partial: 'shared/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% unless controller.controller_name.include?('secret') %>
    <%= render partial: 'shared/ga' %>
  <% end %>
</body>
</html>
