<!DOCTYPE html>
<html>
<head>
  <title>SecretLink.org</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="settings-layout">
  <%= render partial: 'shared/header' %>
  <%= render partial: 'shared/flash_messages' %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
      <h2>Account Settings</h2>
      <ul>
        <li>
          <%= link_to 'Two Factor Auth (2FA)', edit_two_factor_auth_path %>
        </li>
      </ul>
      </div>
      <div class="col-md-9 content">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
