<p>
  Hello <%= @email %>
</p>

<p>
  Here is the requested authentication token that will allow you to access <%= link_to("SecretLink.org", "https://secretlink.org") %>:
</p>
<p>
  <%= link_to auth_token_url(@token), auth_token_url(@token) %>
</p>

<p>
  Thank you for using <%= link_to("SecretLink.org", "https://secretlink.org") %>!
</p>



<br><br>
<p>
  If you didn't expect to receive this message, please contact <%= mail_to "info@secretlink.org" %>.
</p>
